.FontThick {
  font-weight: bold;
  font-size: medium;
  white-space: nowrap;
}
.FontSize {
  font-size: medium;
}
.FontNowrap {
  white-space: nowrap;
}
.blackground {
  padding: 30px;
  background: #ececec;
  /* background-image: url("/26907895_1555759154490767_6054517968486240900_n.jpg"); */
}
